{% extends 'base.html' %}

{% block content %}
    <h1>Which Project adds most value?</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{ contestants[0].name }}</h3>
                    </div>
                    <div class="panel body text-center">
                        </br>
                        <a href="/vote/{{ contestants[0].id }}/{{ contestants[1].id }}">
                            <button type="button" class="btn btn-lg btn-primary text-center">Submit</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <h2 class="text-center">OR</h2>
            </div>


            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{ contestants[1].name }}</h3>
                    </div>
                    <div class="panel body text-center">
                        </br>
                        <a href="/vote/{{ contestants[1].id }}/{{ contestants[0].id }}">
                            <button type="button" class="btn btn-lg btn-primary text-center">Submit</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}