{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Title</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Upvotes</th>
                    <th scope="col">Downvotes</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.elo_rank|round|int }}</td>
                    <td>{{ subject.upvotes }}</td>
                    <td>{{ subject.downvotes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock content %}