{% extends 'base.html' %}

{% block content %}
       <div class="col-md-6">
          <table class="table table-striped">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Rank</td>
                    <td>Upvotes</td>
                    <td>Downvotes</td>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.elo_rank|round|int }}</td>
                    <td><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ subject.upvotes }}</td>
                    <td><i class="fa fa-thumbs-down" aria-hidden="true"></i>{{ subject.downvotes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}